.code-input > .unity-base-text-field__label {
    display: none;
}

.code-input {
    -unity-text-align: middle-center;
    width: 50%;
    margin: 1%;
    font-size: 30px;
    align-items: center;
    white-space: nowrap;
}

.input-box {
    flex-grow: 1;
    display: flex;
}

.input-label-text {
    -unity-text-align: upper-center;
    font-size: 40px;
}
